$color-background:#fff;
$color-text:#000;
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
.head{
	@include width-height(100%,100px);
	background: url(../../assets/img/headbj.png) $color-background;
	background-size:100% 100%;
}
.h-head{
    @include width-height(92%,100%);
	position: relative;
	>img,a{
	    position: absolute;
	    top:50%;
	    transform: translate(0,-50%);
	}
	img:first-of-type{
        left:0;
    }
    a{       
        right:0;
        color:#333333;
        font-size:14px;
        img{
            margin-right:7px;
            vertical-align: middle;
        }
        .quit{
            right:0;
            margin:0;
        }
    }
    a:last-of-type{
        right:60px;
    }
    
}
.nav{
	@include width-height(100%,55px);
	background: $color-background;
	margin-top:1px;
	.n-nav{    
        background: $color-background;
        li{
            height:55px;
            float:left;
            padding:0 38px;
            line-height: 55px;
            color:$color-text;
            font-size: 18px;
            position: relative;
            div{
                position: absolute;
                left:0;
                top:56px;
                background: #fff;
                z-index: 10;
                white-space: nowrap;
                min-width: 100%;
                display: none;
                box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
                p{
                    padding:0 20px;
                    color:#333;
                    font-size:14px;
                    height:40px;
                    line-height: 40px;
                }
                p:hover{
                    background: #e8eef1;
                    color:rgba(0,0,0,0.7);
                }
            }
        }
        .nav-active{
            background: #e8eef1;
            color:rgba(0,0,0,0.7);
        }
    }
}
