<header class="head">
	<div class="main-w h-head">
		<img src="assets/img/logo.png" alt="" />		
		<a (click)="showConfirm()"><img src="../../assets/img/quit-l.png" alt="" class="quit" /></a>
		<a [routerLink]="['/password']">
			<img src="../../assets/img/c_password.png" alt="" />修改密码
		</a>
	</div>
</header>
<nav class="nav">
	<ul class="main-w n-nav">
		<a [routerLink]="['/index/home']" (click)="this.title.emit('华丽佳和');">
			<li [ngClass]="{'nav-active':nav_active1}" (click)="onMenuClick($event,1)">首页</li>
		</a>
		<a [routerLink]="['/index/yujing']" (click)="this.title.emit('预警及闭环管理');">
			<li [ngClass]="{'nav-active':nav_active2}" (click)="onMenuClick($event,2)">预警及闭环管理</li>
		</a>
		<a>
			<li [ngClass]="{'nav-active':nav_active3}" (click)="onMenuClick($event,3)">具体分析
				<div class="nav-seleter">
					<a [routerLink]="['/index/analysis']" (click)="this.title.emit('具体得分');">
						<p (click)="onOption($event,1)" class="nav-option">具体得分</p>
					</a>
					<a [routerLink]="['/index/businessunit']" (click)="this.title.emit('业务单元表现分析');">
						<p (click)="onOption($event,2)" class="nav-option">业务单元表现分析</p>
					</a>
					<a [routerLink]="['/index/singleranking']" (click)="this.title.emit('单一指标排名');">
						<p (click)="onOption($event,3)" class="nav-option">单一指标排名</p>
					</a>
					<a [routerLink]="['/index/analysis']" (click)="this.title.emit('趋势分析');">
						<p (click)="onOption($event,4)" class="nav-option">趋势分析</p>
					</a>
					<a [routerLink]="['/index/dataretrieval']" (click)="this.title.emit('数据检索');">
						<p (click)="onOption($event,5)" class="nav-option">数据检索</p>
					</a>
					<a [routerLink]="['/index/analysis']" (click)="this.title.emit('数据分析');">
						<p (click)="onOption($event,6)" class="nav-option">数据分析</p>
					</a>
					<a [routerLink]="['/index/executive']" (click)="this.title.emit('执行摘要');">
						<p (click)="onOption($event,6)" class="nav-option">执行摘要</p>
					</a>
				</div>
			</li>
		</a>
	</ul>
</nav>
