<div *ngIf = "item_list.data">
	<app-num [company] = "company"></app-num>
	<table class="data-table">
		<thead>
			<tr>
				<th>
					<p>样本ID</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>客户姓名</p>
					<input type="text" name="" placeholder="搜索">
				</th>
				<th>
					<p>访问日期</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>满意度</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>项目名称</p>
					<img src="assets/img/unit-search.png">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let v of table">
				<td>{{v.id}}</td>
				<td>{{v.name}}</td>
				<td>{{v.date}}</td>
				<td><img src="{{v.degree}}"></td>
				<td>{{v.projectname}}</td>
			</tr>
		</tbody>
	</table>
	<div class="view">
		<a ><button>导出PDF</button></a>
		<a ><button>导出Excel</button></a>
		<nz-pagination class="page" [nzPageIndex]="1" [nzTotal]="50" nzShowQuickJumper></nz-pagination>
	</div>
</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>
