
.footer{
	width:100%;
	height:120px;
	background: #1D1E20;
	img{
        position: absolute;
        right:0;
        top:34px;
        line-height: 120px;
    }
    a{
        color:rgba(255,255,255,0.5019607843137255);
        line-height: 120px;
        margin-right:50px;
        font-size: 14px;
    }
}