@mixin tr-style($height,$bg,$color,$font-size){
    height:$height;
    background: $bg;    
    color:$color;
    font-size: $font-size;
}
.yujing{
	clear:both;
}
.warn-table{
	width:100%;
	margin-top:20px;
	border:1px solid #ccc;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	thead{
	    tr{
            @include tr-style(45px,#F8FAFB,#404652,16px)
            th{
                padding-left:21px;
                font-weight: normal;
            }
            th:first-of-type{
                text-align: left;
            }
        }
	}
	tbody{
	    tr{
	        @include tr-style(38px,#fff,#6B7791,14px)
            border-top:1px solid #ccc;
            td:first-of-type{
                padding-left:21px;
                text-align: left;
            } 
	    }
	}
}
.warning{
	width:570px;
    td:first-of-type{
        width:400px;
    }
}
.warning-tj{
	color:#404652;
	font-size: 30px;
	margin-top:31px;
}