			<div class="yujing"  *ngIf = "item_list.data">
				<app-num [company] = "company"></app-num>
				<table class="warn-table warning" >
					<thead>
						<tr >
							<th colspan="3">{{warningSituation.thead.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor = "let value of warningSituation.tbody">
							<td>{{value.name}}</td>
							<td><img src={{value.icon}} alt="" /></td>
							<td>{{value.num}}</td>
						</tr>
					</tbody>
				</table>

				<h3 class="warning-tj">预警统计</h3>
				<table class="warn-table" style="margin-bottom: 30px;">
					<thead>
						<tr>
							<th>{{city.thead.city}}</th>
							<th>{{city.thead.warningTotal}}</th>
							<th>{{city.thead.totalUntreated}}</th>
							<th>{{city.thead.daysUntreated}}</th>
							<th>{{city.thead.process}}</th>
							<th>{{city.thead.closed}}</th>
							<th>{{city.thead.inextricability}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor = "let value of city.tbody">
							<td>{{value.city}}</td>
							<td>{{value.warningTotal}}</td>
							<td>{{value.totalUntreated}}</td>
							<td>{{value.daysUntreated}}</td>
							<td>{{value.process}}</td>
							<td>{{value.closed}}</td>
							<td>{{value.inextricability}}</td>
						</tr>
					</tbody>
				</table>
			</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>