@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
.login{
	width:100%;
	position: absolute;
	left:0;
	top:0;
	bottom:120px;
	right:0;
	background: url(../../assets/img/denglu_bg.png) no-repeat;
	background-size:100% 100%;
	.l-main{
        @include width-height(402px,460px);
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-201px;
        margin-top:-230px;       
        .l-title{
            text-align: center;
            font-size: 60px;
            color:#fff;
            line-height: 64px;
            @include width-height(100%,64px);
            margin-bottom:50px;
            img{
                margin-right: 24px;
                @include width-height(64px,64px);
                vertical-align: middle;
            }
        }
    }   
}
.l-inputBox{
	@include width-height(100%,58px);
	border-radius: 2px;
	background: #fff;
	margin-top:30px;
	position: relative;
	img{
        vertical-align: middle;
        margin-left: 30px;
    }
    input{
        padding-left:20px;
        border:none;
        @include width-height(345px,100%);
        vertical-align: middle;
        font-size: 16px;
    }
    button{
        @include width-height(100%,100%);
        border:none;
        background: #236DC0;
        color:#fff;
        font-size: 18px;
    }
    .identifying-code{
        @include width-height(80px,30px);
        position: absolute;
        right:14px;
        top:14px;
    }
}
.login-footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
}
.error-prompt {
	color : #ff3f3f;
	margin : -40px 0 0 70px;
	position : relative;
	background-color : white;
	font-size : 16px;
	visibility : hidden;
}
