
<div class="login">
	<div class="l-main">
		<h3 class="l-title"><img src="../../assets/img/denglu_logo.png" alt="" /><span>登录</span></h3>
		<div class="l-inputBox">
			<img src="../../assets/img/person.png" alt="" />
			<input type="text" placeholder="请输入用户名" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="l-inputBox">
			<img src="../../assets/img/password.png" alt="" />
			<input type="password" placeholder="请输入密码" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="l-inputBox">
			<img src="../../assets/img/yanzheng.png" alt="" />
			<input type="text" placeholder="请输入验证码" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<img src="{{verifyCodeSrc}}" alt="" class="identifying-code" />
			<div class="error-prompt" style="width : 238px;" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="l-inputBox">
			<a ><button (click)="login($event)">登录</button></a>
		</div>
	</div>
</div>
<app-footer class="login-footer"></app-footer>
