.data-table{
	width:100%;
	margin:20px 0 24px 0;
	border:1px solid #e0e7ec;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	background:#fff;
	box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
	thead{
		background-color: #f8fafb;
	    tr{
            
            th{
                color: #404652;
                font-size:16px;
                font-weight: normal;
                padding:19px 0 11px 0;
                border:1px solid #e0e7ec;
                img{
                	width:28px;
                	height:28px;
                	margin-top:10px;
                }
                input{
                	width: 132px;
					height: 28px;
					border-radius: 4px;
					background-color: #ffffff;
					border: solid 1px #e0e7ec;
					text-align:center;
					margin-top:10px;
                }
            }
        }
	}
	tbody{
		tr{
			height: 38px;
			box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
			color: #6b7791;
			font-size:14px;
			td{
				border:1px solid #e0e7ec;
				img{
					width:21px;
					height:21px;
				}
			}
		}
	}
}
.view{
	margin-bottom:30px;
	height:40px;
	button{
		width: 110px;
		height: 38px;
		background-color: #236dc0;
		font-size: 16px;
  		color: #ffffff;
  		border:none;
  		margin-right:8px;
	}
	.page{
		float:right;
	}
}