<div *ngIf = "item_list.data">
	<app-num [company] = "company"></app-num>
	<table class="data-table">
		<thead>
			<tr>
				<th>
					<p>排名</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>上个月</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>上个季度</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>上一年</p>
					<img src="assets/img/unit-search.png">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let v of table">
				<td>{{v.rank}}</td>
				<td><img src="{{v.month}}"></td>
				<td><img src="{{v.quarter}}"></td>
				<td><img src="{{v.year}}"></td>
			</tr>
		</tbody>
	</table>
	<div class="view">
		<a ><button>导出PDF</button></a>
		<a ><button>导出Excel</button></a>
		<nz-pagination class="page" [nzPageIndex]="1" [nzTotal]="50" nzShowQuickJumper></nz-pagination>
	</div>
</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>

