<main class="main">
	<div class="main-w m-main">
		<div class="m-title">
			{{content}}
		</div>
		<ul class="m-select">
			<li (click)="onOptionClick($event)">
				二级公司<img src="assets/img/sanjiao.png" alt="" />
				<div class="m-option">
					<p><span class="m-check" (click)="onCheckClick($event)"></span>控股</p>
				</div>
			</li>
			<li (click)="onOptionClick($event)">
				二级筛选<img src="assets/img/sanjiao.png" alt="" />
				<div class="m-option">
					<p><span class="m-check" (click)="onCheckClick($event)"></span>全选</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>住宅</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>酒店公寓</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>写字楼</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>园中园</p>
				</div>
			</li>
			<li (click)="onOptionClick($event)">
				三级筛选<img src="assets/img/sanjiao.png" alt="" />
				<div class="m-option">
					<p><span class="m-check" (click)="onCheckClick($event)"></span>全选</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>北京公司</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>天津公司</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>重庆公司</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>广州公司</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>上海公司</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>金石融景</p>
				</div>
			</li>
			<li (click)="onOptionClick($event)">
				四级筛选<img src="assets/img/sanjiao.png" alt="" />
				<div class="m-option">
					<p><span class="m-check" (click)="onCheckClick($event)"></span>全选</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>金色漫香苑</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>金色漫香苑</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>金融街融汇</p>
					<p><span class="m-check" (click)="onCheckClick($event)"></span>漫香林第六期</p>
				</div>
			</li>
			<li (click)="onOptionClick($event)" class="m-seleTime">
				时间快捷筛选<img src="assets/img/sanjiao.png" alt="" />
				<div class="m-option">
					<p (click)="onCheckClick($event)">全部</p>
					<p (click)="onCheckClick($event)">当前周</p>
					<p (click)="onCheckClick($event)">当前月</p>
					<p (click)="onCheckClick($event)">YTD</p>
				</div>
			</li>
			<li class="m-seleInput">
				从<nz-datepicker class="select-date" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate"></nz-datepicker>
				至 <nz-datepicker class="select-date" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate"></nz-datepicker>
			</li>
			<li class="m-seleButton"><button (click)="reset($event)">重置</button><button (click)="submit($event)">确认</button></li>
		</ul>
		
		<router-outlet></router-outlet>	
	</div>
</main>