@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
$color-background:#fff;
$color-text:#000;
.m-title{
	color:#333333;
	font-size: 30px;
	margin: 40px 0 29px 0;
}
.m-select {
    li{
        float:left;
        @include width-height(10%,46px);
        border-radius: 2px;
        padding-left: 0.6%;
        background: $color-background;
        line-height: 46px;
        color:$color-text;
        font-size: 14px;
        margin:0 1px 28px 0;
        position: relative;
        img{
            float:right;
            margin: 18px 12.5% 0 0;           
        }        
    }
    .m-seleTime{
        width:14%;
    }
    .m-seleInput{
        width:32.8%;
        margin:0 0 28px 0;
        .select-date{
            width:37%;
            margin:0 8px 0 12px;
        }
    }
    .m-seleButton{
        width:12.6%;
        padding:0;
        margin:0 0 28px 0;
        button{
            @include width-height(50%,100%);
            line-height: 46px;
            text-align: center;
            color:$color-background;
            border:none;
            float:left;
        }
        button:first-of-type{
            background: #10BDB6;
        }
        button:last-of-type{
            background: #236DC0;
            border-radius: 0 2px 2px 0; 
        }
    }
}
.m-option{
	display: none;
	position: absolute;
	left:0;
	top:47px;
	min-width:100%;
	background: $color-background;
	padding:3px 0 10px 0;
	color:$color-text;
	font-size: 14px;
	border: 1px solid #DDE4E8;
	z-index: 100;
	p{
        padding:0 20px;
        white-space: nowrap;
        line-height: 32px;
        height:32px;
    }
    .m-check{
        display: inline-block;
        @include width-height(17px,17px);
        vertical-align: middle;
        margin-right:10px;
        border:1px solid #A0AABF;
        border-radius: 2px;
    }
    .m-checked{
        background: #236DC0;
        border:none;
        color:$color-background;
    }
    span.m-checked{
        background: url(../../assets/img/check_duihao.png) no-repeat center #236DC0;
    }
}

