



.drop_down{
	width:51px;
	height:51px;
	background: #667DAF;
	position: fixed;
	top:193px;
	right:30px;
	border-radius: 50%;
	text-align: center;
	line-height: 51px;
}
.drop_option{
	display: none;
	position: absolute;
	right:0;
	top:70px;
	background: #667DAF;
	border-radius: 6px;
	width:180px;
	padding:0 13px;
}
.drop_option p{
	text-align: left;
	height:47px;
	color:#fff;
	font-size: 16px;
	border-bottom:1px solid rgba(0,0,0,0.10196078431372549);
}
.drop_option p:last-of-type{
	border:none;
}
