<ul class="m-num">
	<li  class="m-munActive" (click)="changeCom($event,0)">{{company[0].name}}</li>
	<li *ngFor = "let value of com;let i = index" (click)="changeCom($event,i+1)">{{value.name}}</li>
</ul>