<div class="mask"  (click)="onhide($event)">
	<div class="mask-main">
		<p>确定现在退出吗?<img src="../../assets/img/tanhao_blue.png" alt="" /></p>
		<div>
			<button class="mask-no" (click)="onhide($event)">取消</button>
			<button  class="mask-yes" (click)="tologin($event)">确认</button>
		</div>
	</div>
</div>
