$color-background:#fff;
$color-text:#000;
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
.mask{
    @include width-height(100%,100%);
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    left:0;
    top:0;
    z-index:100;
    .mask-main{
        @include width-height(360px,216px);
        position: absolute;
        top:300px;
        left:50%;
        transform: translate(-50%,-50%);
        background: $color-background;
        text-align: center;
        border-radius: 2px;
        p{
            font-size: 20px;
            color: #333333;
            margin:60px 20px 0 0;
            img{
                margin-left:10px;
                vertical-align: middle;
            }
        }
        div{
            margin-top:92px;            
            @include width-height(100%,44px);
            button{
                @include width-height(50%,100%);
                font-size: 14px;
                border:none;
                float:left;
            }
            .mask-no{
                color: #236dc0;
                border-top:1px solid #e0e7ec;
                background: $color-background;
                border-radius:0 0 0 2px;
            }
            .mask-yes{
                background-color: #236dc0;
                color: $color-background;
                border-radius:0 0 2px 0;
            }
        }
    }
}
