<div (click)="html_body_click($event)" style="position: relative;">
	<app-head (quitone) = "onquit($event)" (title) = "ontitle($event)"></app-head>
	<app-main [content]="title"></app-main>
	<app-footer></app-footer>
	<app-quit (quitone) = "onquit($event)" [style.display]="quit"></app-quit>
</div>