<div *ngIf = "item_list.data">
	<app-num [company] = "company"></app-num>
	<table class="data-table">
		<thead>
			<tr>
				<th>各级指标名称</th>
				<th>得分</th>
				<th>上一月得分</th>
				<th>上一年得分</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let v of table; first as isFirst">
				<td *ngIf="isFirst" [attr.rowspan] = "table.length" >
					
				</td>
				<td><img src="{{v.rankImg}}" class="rank">{{v.rankNum}}</td>
				<td>{{v.monthNum}}<img src="{{v.monthImg}}" class="date"></td>
				<td>{{v.yearNum}}<img src="{{v.yearImg}}" class="date"></td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>

