<app-head (quitone) = "onquit($event)"></app-head>
<div class="main">
	<div class="password-view">
		<h3 class="password-title"><img src="../../assets/img/icon.png" alt="" />修改密码</h3>
		<div class="password-input">
			<input type="password" placeholder="请输入初始密码" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="password-input">
			<input type="password" placeholder="请输入新密码" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="password-input">
			<input type="password" placeholder="请确认新密码" (focus)="hidden($event);" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="password-input">
			<input type="button" value="确认" class="password-submit" (click)="submit($event)" />
		</div>
	</div>
</div>
<app-footer></app-footer>
<app-quit (quitone) = "onquit($event)" [style.display]="quit"></app-quit>
