@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
.main{
    @include width-height(100%,805px);
    position: relative;
    .password-view{
        @include width-height(635px,613px);
        background: #fff;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        .password-title{
            color:#60687A;
            font-size:40px;
            margin:81px 0 30px 0;
            img{
                vertical-align: middle;
                margin-right: 20px;
            }
        }
        .password-input{            
            @include width-height(401px,57px);
            margin:30px auto;
            input{
                background: #F2F5F7;
                @include width-height(100%,100%);
                border:none;
                padding:0 29px;
                border-radius: 2px;
                font-size:16px;
            }
            .password-submit{
                background: #236DC0;
                font-size: 18px;
                color:#fff;
            }
        }
    }
}
.error-prompt {
    color : #ff3f3f;
    margin : -40px 0 0 70px;
    position : relative;
    background-color : white;
    font-size : 16px;
    visibility : hidden;
}