/* You can add global styles to this file, and also import other style files */
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height:100%;
	font-family: 'PingFangSC-Regular';
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
input,button{
	outline:none;
}
::-webkit-input-placeholder { /* WebKit browsers */
　　color:#8590A6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　color:#8590A6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#8590A6;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#8590A6;
}
body{
	background: #f2f5f7 !important;
	min-width: 985px;
}
.main-w{
	width:92%;
	margin:0 auto;
	position: relative;
}
.main-view{
    @include width-height(100%,644px);
    background: url(assets/img/main_bg.png) no-repeat;
    background-size: 100% 100%;
    padding:76px 0 0 100px;
    clear:both;
    p{
        color:#236DC0;
        font-size: 28px;
        span{
            font-size:40px;
        }
    }
}