
		
<div *ngIf = "item_list.data">
	<app-num [company] = "company"></app-num>
	<ul class="m-img">
		<li *ngFor = "let num of number">
			<p><img src="{{num.icon}}" alt="" />{{num.text}}</p>
			<div class="m-imgColor" [style.background]="num.imgBackground"><img src="{{num.img}}" alt="" /></div>
			<div class="m-imgColor" [style.background]="num.numBackground">{{num.num}}</div>
		</li>
		
	</ul>
	<ul class="m-img" style="margin-bottom: 173px;">
		<li *ngFor = "let deg of degree">
			<p><img src="
			{{deg.icon}}" alt="" />{{deg.text}}<img src="assets/img/cuo.png" alt="" (click)="delete($event)"/></p>
			<div class="m-imgNum">
				<p class="year" [style.color]="deg.thisColorUp">{{deg.thisYear}}</p>
				<div class="proportion">							
					<div class="proportion-img" [style.background]="deg.thisColorDown"><p [style.background]="deg.thisColorUp" [style.width]="deg.thisPercentage"></p></div>
					<span class="proportion-num" [style.color]="deg.thisColorUp">{{deg.thisPercentage}}</span>
				</div>
			</div>
			<div class="m-imgNum">
				<p class="year" [style.color]="deg.lastColorUp">{{deg.lastYear}}</p>
				<div class="proportion">							
					<div class="proportion-img" [style.background]="deg.lastColorDown"><p [style.background]="deg.lastColorUp" [style.width]="deg.lastPercentage"></p></div>
					<span class="proportion-num" [style.color]="deg.lastColorUp">{{deg.lastPercentage}}</span>
				</div>
			</div>
		</li>
	</ul>
	<!--<div id="echarts_div" style="width : 500px; height : 500px;"></div>-->
	<!--<div echarts [options]="chartOption" class="demo-chart" style="width : 500px; height : 500px;"></div>-->
</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>
