<div *ngIf = "item_list.data">
	<app-num [company] = "company"></app-num>
	<table class="unit-table">
		<thead>
			<tr>
				<th>
					<p>指标</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>自身得分</p>
					<input type="text" name="" placeholder="搜索">
				</th>
				<th>
					<p>整体二级公司</p>
					<img src="assets/img/unit-search.png">
				</th>
				<th>
					<p>图示</p>
					<img src="assets/img/unit-search.png">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let v of table">
				<td>{{v.index}}</td>
				<td>{{v.score}}</td>
				<td>{{v.com}}</td>
				<td>
					<div>
						<img src="assets/img/kedu.png">
						<p [style.left]=" (v.score + 100) / 2 - 4.4 + '%' ">{{v.score}}</p>
					</div>
					<span>{{v.score}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf = "!item_list.data" class="main-view">
	<p><span>您好，</span>请选择筛选条件并点击运行查看相应结果</p>
</div>